.aboutwrapper {
  &__content {
    width: 80%;
  }
  &__leftsec {
    width: 55%;
    display: inline-block;
    vertical-align: top;
    @include mqueryipad(768px, 1024px) {
      width: 92%;
    }
    @include mqueryphone(320px, 767px) {
      width: 95%;
    }
    >p {
      width: 80%;
      color: $secondaryColor2;
    }    
  }
  &__rightsec {
    width: 43%;
    position: fixed;
    top: 5%;
    right: 0%;
    height: 90%;
    text-align: center;
    >img {
      height: 100%;
      max-width: 100%;
      filter: grayscale(100%);
    }
    @include mqueryipad(768px, 1024px) {
      width: 92%;
      position: static;
      >img {
        height: auto;
      }
    }
    @include mqueryphone(320px, 767px) {
      width: 95%;
      position: static;
      >img {
        height: auto;
      }
    }
  }
}