.sidenav {
  position: fixed;
  width: 5%;
  top: 0;
  left: 0;
  z-index: 1;
  background: #181818;
  height: 100%;
  &__logo {
    width: 100%;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background: #000;
    >span {
      display: block;
      color: #fff;
      margin-bottom: 20px;
      font-size: 12px;
      &.initial-shadow {
        font-size: 50px;
        color: #1be0fd;
        margin: 15px 0 0px 0;
        transition: transform 3s;
        &:hover {
          transform: rotate(1080deg);
        }
      }
    }
  }
  &__bar {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    &__link {
      display: block;
      color: #4d4d4e;
      margin-bottom: 10px;
      height: 50px;
      line-height: 50px;
      svg {
        font-size: 24px;
        transition: height 1s;
      }
      &.active {
        color: #08fdd8;
      }
      &:hover {
        text-decoration: none;
        span {
          display: block;
          transform: rotate(360deg);
          color: #08fdd8;
          font-size: 14px;
        }
        svg {
          font-size: 0;
        }
      }
      span {
        font-size: 0;
        transition: transform 1s;
      }
    }
  }

  &__sociallist {
    padding: 0px;
    text-align: center;
    >a {
      color: #4d4d4e;
      transition: color 0.5s;
      &:hover {
        color: #08fdd8;
      }
      li {
        list-style-type: none;
        font-size: 14px;
        margin-bottom: 15px;
      }
    }
  }
}