.primary-btn {
  color: $primaryColor1;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid $primaryColor1;
  margin-top: 25px;
  border-radius: 3px;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.5s;
  background: none;
  cursor: pointer;
  &:hover {
    background: $primaryColor1;
    color: $tertiaryColor3;
  }
}