$white: #ffffff;
$black: #000000;
$shark: #252627;
$brightTurquoise: #08FDD8;
$abbey: #515152;
$vermilion: #FF4500;
$gray: #8d8d8d;
$codGray: #181818;


/* branding colors*/
$tertiaryColor1: $white;
$tertiaryColor2: $shark;
$tertiaryColor3: $black;

$primaryColor1: $brightTurquoise;
$primaryColor2: $vermilion;
$primaryColor3: $abbey;

$secondaryColor1: $codGray;
$secondaryColor2: $gray;