
.projectwrapper {
  &__topsection {
    min-height: 500px;
    .commonheading {
      width: 95%;
      margin-top: -20px;
      text-align: center;
      padding-top: 0;
      -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, $tertiaryColor3 50%, rgba(0,0,0,.6) 70%);
      -webkit-mask-size: 200%;
      animation: shine 2s infinite;
      @include mqueryphone(320px, 767px) {
        margin-top: 30px;
      }
      &:before, &:after {
        content: "",
      }    
    }
    .projectDesc {
      margin: 3% auto 3% auto;
      display: inline-block;
      width: 95%;
      text-align: center;
      color: $tertiaryColor1;
      font-size: 24px;
      box-shadow: 0px 0px 20px 5px $primaryColor3;
      padding: 20px;
      box-sizing: border-box;
    }
    &__back {
      position: fixed;
      top: 4%;
      left: 6%;
      color: $tertiaryColor1;
      animation: floatHorizontal 2s linear 0s infinite;
      font-size: 30px;
      text-decoration: none;
      transition: all 1s;
      z-index: 1;
      @include mqueryipad(768px, 1024px) {
        top: 5%;
        left: 12%;
      }
      @include mqueryphone(320px, 767px) {
        top: 3%;
        left: 50%;
      }
      svg {
        transition: all 1s;
        opacity: 1;
      }
      &:hover {
        svg {
          font-size: 0;
          opacity: 0;
        }
        span {
          font-size:14px;
          opacity: 1;
        }
      }
      span {
        font-size: 0;
        opacity: 0;
        transition: all 1s;
      }
    }
    &__moredetails {
      ul {
        width: 95%;
        @include mqueryphone(320px, 767px) {
          max-width: 85%;
        }
        li {
          display: inline-block;
          list-style-type: none;
          width: 33%;
          @include mqueryphone(320px, 767px) {
            vertical-align: top;
          }
          >p {
            color: $secondaryColor2;
            margin-top: 10px;
          }
          >h3 {
            color: $tertiaryColor1;
            font-weight: 700;
            margin-bottom: 0;
            font-family: 'Montserrat', sans-serif;
          }
        }
      }
    }
    &__visitsite {
      text-align: center;
      width: 95%;
      >a {
        margin-top: 0;
        margin-bottom: 30px;
        &:hover {
          svg {
            color: $tertiaryColor3;
          }
        }
        svg {
          font-size: 18px;
          color: $primaryColor2;
          margin-right: 5px;
        }
      }
    }
  }
  &__images {
    width: 95%;
    text-align: center;
    >img {
      max-width: 100%;
      display: block;
      margin: 0 auto 100px auto;
      animation: floatVertical 2s linear 0s infinite;
      max-height: 500px;
      &:first-of-type {
        margin-top: 50px;
      }
      &:last-of-type {
        margin-bottom: 100px;
      }
    }
  }

  &__next-prev-projects {
    text-align: center;
    width: 95%;
    margin-top: 50px;
    font-size: 24px;
    background: rgba(0,0,0,0.2);
    padding: 20px;
    box-sizing: border-box;
    >a {
      color: $tertiaryColor1;
      text-decoration: none;
      &:first-of-type {
        margin-right: 10%;
        svg {
          margin-right: 15px;
        }
      }
      &:hover {
        svg {
          animation: floatHorizontal 2s linear 0s infinite;
        }
      }
      svg {
        vertical-align: middle;
        margin-left: 15px;
      }
    }
    @include mqueryphone(320px, 767px) {
      font-size: 14px;
      >a {
        &:first-of-type {
          margin-right: 5%;
        }
      }
    }
  }
}