@import './styles/styles.scss';

.maincontent {
  padding-left: 10%;
  padding-top: 10%;
  &:before {
    content: '<body>';
    color: $primaryColor3;
    font-size: 18px;
    position: absolute;
    margin-top: -5%;
    font-style: italic;
  }
  &:after {
    @extend :before;
    content: '</body>';
    margin-top: 5%;
  }
}

.initial-shadow {
  color: $primaryColor1;
  text-underline-position: auto;
  text-shadow: -3px 2px $primaryColor2;
}